name: PR Build
on:
  pull_request: {}
  workflow_dispatch: {}

jobs:
  validate:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.3
      - name: Lint
        run: make lint
      - name: Test
        run: make test

  build-and-test-images:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        # Choose tags corresponding to the version of Kind being used.
        # At a minimum, we should test the currently supported versions of
        # Kubernetes, but can go back farther as long as we don't need heroics
        # to pull it off (i.e. kubectl version juggling).
        k8s-version:
          - v1.25.3
          - v1.24.7
          - v1.23.13
          - v1.22.15
          - v1.21.14
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build image
        run: make docker-build
      - name: Run integration tests
        run: K8S_VERSION=${{ matrix.k8s-version }} test/run.sh

  success:
    runs-on: ubuntu-22.04
    needs: [validate, build-and-test-images]

    steps:
        - name: Declare victory!
          run: echo "Success!"
